/tmp/
/bin/
/bin-*/
build-*
/workdir/
*.pro.user
*.lexer.*
*.parser.*
*~
*.directory
*.autosave
*Thumbs.db
_build/
*.user
*.filters
*.vcxproj
.vs/
Core/Win32/
Demo/Win32/Debug/QtnPropertyDemo.log
Demo/Win32/
PEG/Win32/
PropertyTest/Release/
PropertyWidget/Win32/
Core/Debug/
PropertyWidget/Debug/
PropertyTest/GeneratedFiles/
PropertyTest/Debug/
Tests/Win32/Debug/
Win32/Debug/
Tests/moc_test2.peg.cpp
Tests/moc_test.peg.cpp
Tests/moc_predefs.h
Tests/moc_TestProperty.cpp
Tests/moc_TestGeneratedProperty.cpp
Tests/moc_TestEnum.cpp
Demo/GeneratedFiles/
Demo/moc_predefs.h
Demo/moc_mydialog.cpp
Demo/moc_PropertyPenWidth.cpp
Demo/moc_PropertyLayer.cpp
Demo/moc_PropertyFreq.cpp
Demo/moc_PropertyABColor.cpp
Demo/moc_MainWindow.cpp
*.sln
*.db
*.opendb
PEG/GeneratedFiles/
PEG/debug/
sip/.idea/
x64/
Core/Release/moc_PropertyDouble.cpp
Core/Release/
PropertyWidget/Release/
python/test/.idea/
.qmake.stash
PEG/QtnPEG_resource.rc
Makefile
